# /etc/systemd/system/dued.service

[Unit]
Description=Dued composer service
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
# Has coincidir WorkingDirectory a donde copiaste tu docker-compose.yml
WorkingDirectory=/srv/dued
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target